{{ template "layout.html" }}

{{ define "content" }}
  <ul class="files">
    {{ range $file := .Files }}
      <li class="file">
        <a title="{{ $file.UUID }}" href="/files/{{ $file.UUID }}">{{ $file.Name }}</a>
      </li>
    {{ end }}
  </ul>

  <form class="upload" action="/upload" method="POST" enctype="multipart/form-data" >
    <input aria-label="File" id="file" type="file" name="file" required />

    <fieldset>
      <legend>Expires in...</legend>

      <input aria-label="Time" type="number" name="time" placeholder="Time" value="1" step="1" min="1" required />

      <select name="unit" aria-label="Unit">
        <option value="days" selected>Days</option>
        <option value="hours">Hours</option>
        <option value="minutes">Minutes</option>
        <option value="seconds">Seconds</option>
      </select>
    </fieldset>

    <button type="submit">Upload</button>
  </form>
{{ end }}
