{{ template "layout.html" }}

{{ define "scripts" }}
  <script async src="/static/chunk.js"></script>
{{ end }}

{{ define "content" }}
  <ul id="files">
    {{ range $file := .Files }}
      <li>
        <a title="{{ $file.UUID }}" href="/files/{{ $file.UUID }}">{{ $file.Name }}</a>
      </li>
    {{ end }}
  </ul>

  <form id="upload" name="upload" action="/upload" method="POST" enctype="multipart/form-data" >
    <input id="file" data-chunk-size="{{ .ChunkSize }}" name="file" type="file" required aria-label="File" />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Password" />

    <fieldset>
      <legend>Expires in...</legend>

      <input name="time" value="1" step="1" min="1" type="number" required placeholder="Time" aria-label="Time" />

      <select name="unit" aria-label="Unit">
        <option value="days" selected>Days</option>
        <option value="hours">Hours</option>
        <option value="minutes">Minutes</option>
        <option value="seconds">Seconds</option>
      </select>
    </fieldset>

    <button type="submit">Upload</button>
  </form>
{{ end }}
